### C#

ReactlikeMvvm/[Dd]ebug/
ReactlikeMvvm/[Dd]ebugPublic/
ReactlikeMvvm/[Rr]elease/
ReactlikeMvvm/[Rr]eleases/
ReactlikeMvvm/x64/
ReactlikeMvvm/x86/
ReactlikeMvvm/bld/
ReactlikeMvvm/[Bb]in/
ReactlikeMvvm/[Oo]bj/
ReactlikeMvvm/[Ll]og/
ReactlikeMvvm/*/[Dd]ebug/
ReactlikeMvvm/*/[Dd]ebugPublic/
ReactlikeMvvm/*/[Rr]elease/
ReactlikeMvvm/*/[Rr]eleases/
ReactlikeMvvm/*/x64/
ReactlikeMvvm/*/x86/
ReactlikeMvvm/*/bld/
ReactlikeMvvm/*/[Bb]in/
ReactlikeMvvm/*/[Oo]bj/
ReactlikeMvvm/*/[Ll]og/

### VB

ReactlikeMvvmVb/[Dd]ebug/
ReactlikeMvvmVb/[Dd]ebugPublic/
ReactlikeMvvmVb/[Rr]elease/
ReactlikeMvvmVb/[Rr]eleases/
ReactlikeMvvmVb/x64/
ReactlikeMvvmVb/x86/
ReactlikeMvvmVb/bld/
ReactlikeMvvmVb/[Bb]in/
ReactlikeMvvmVb/[Oo]bj/
ReactlikeMvvmVb/[Ll]og/
ReactlikeMvvmVb/*/[Dd]ebug/
ReactlikeMvvmVb/*/[Dd]ebugPublic/
ReactlikeMvvmVb/*/[Rr]elease/
ReactlikeMvvmVb/*/[Rr]eleases/
ReactlikeMvvmVb/*/x64/
ReactlikeMvvmVb/*/x86/
ReactlikeMvvmVb/*/bld/
ReactlikeMvvmVb/*/[Bb]in/
ReactlikeMvvmVb/*/[Oo]bj/
ReactlikeMvvmVb/*/[Ll]og/

### IDE

.vscode
/*/.vscode
.vs
/*/.vs